name: Build and test cinnamon
run-name: 'Build and Test: ${{ github.event.head_commit.message }}'
on: 
  workflow_dispatch:
  push:
  pull_request:
      types: [opened, reopened]
jobs:
  main:
    name: Build and test
    runs-on: ubuntu-22.04
    env:
      CC: clang
      CXX: clang++
      LDFLAGS: -fuse-ld=mold
      CMAKE_GENERATOR: Ninja

    steps: 
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install build dependencies
        run: sudo apt-get install clang ninja-build mold libvulkan-dev

      - name: Restore dependency cache
        id: dependency-cache-restore
        uses: actions/cache/restore@v3
        with:
          path: |
            .venv
            llvm
            torch-mlir
            upmem
          key: cinnamon-dependencies-${{ runner.os }}
      
      - name: Build 
        run: .github/workflows/build-ci.sh -reconfigure

      - name: Test
        working-directory: cinnamon/build
        run: |
          source ../../.venv/bin/activate
          ninja check-cinm-mlir

      - name: Save dependency cache
        uses: actions/cache/save@v3
        if: always()
        with:
          path: |
            .venv
            llvm
            torch-mlir
            upmem
          key: ${{ steps.dependency-cache-restore.outputs.cache-primary-key }}